In [65]:
import requests, os
if not os.path.exists("train.csv"):
  c=requests.get("https://github.com/Elwing-Chou/ml0930/raw/master/titanic/train.csv")
  with open("train.csv", "w", encoding="utf-8") as f:
                f.write(c.text)
if not os.path.exists("test.csv"):
  c=requests.get("https://github.com/Elwing-Chou/ml0930/raw/master/titanic/test.csv")
  with open("test.csv", "w", encoding="utf-8") as f:
                f.write(c.text)

In [66]:
import pandas as pd
train_df=pd.read_csv("train.csv")
test_df=pd.read_csv("test.csv")

In [67]:
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

# np.set_printoptions(threshold=np.inf)

In [68]:
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [69]:
test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [70]:
#補缺失值
#補缺失值，數值補中位數，類別補最常出現
# train_df
datas=pd.concat([train_df, test_df],axis=0, ignore_index=True)
datas
#數值:Age,SibSp,Parch, Ticket(count)
#類別:Pclass,Name(mid),Sex,Cabin(First),Embarked

      PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
0               1       0.0       3  ...    7.2500   NaN         S
1               2       1.0       1  ...   71.2833   C85         C
2               3       1.0       3  ...    7.9250   NaN         S
3               4       1.0       1  ...   53.1000  C123         S
4               5       0.0       3  ...    8.0500   NaN         S
...           ...       ...     ...  ...       ...   ...       ...
1304         1305       NaN       3  ...    8.0500   NaN         S
1305         1306       NaN       1  ...  108.9000  C105         C
1306         1307       NaN       3  ...    7.2500   NaN         S
1307         1308       NaN       3  ...    8.0500   NaN         S
1308         1309       NaN       3  ...   22.3583   NaN         C

[1309 rows x 12 columns]

In [71]:
datas=datas.drop(["PassengerId","Survived"],axis=1)

In [72]:
datas

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...   NaN         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2          3                             Heikkinen, Miss. Laina  ...   NaN         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4          3                           Allen, Mr. William Henry  ...   NaN         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...   NaN         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
1306       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
1307       3                                Ware, Mr. Frederick  ...   NaN         S
1308       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [73]:
na = datas.isna()
na

      Pclass   Name    Sex    Age  SibSp  Parch  Ticket   Fare  Cabin  Embarked
0      False  False  False  False  False  False   False  False   True     False
1      False  False  False  False  False  False   False  False  False     False
2      False  False  False  False  False  False   False  False   True     False
3      False  False  False  False  False  False   False  False  False     False
4      False  False  False  False  False  False   False  False   True     False
...      ...    ...    ...    ...    ...    ...     ...    ...    ...       ...
1304   False  False  False   True  False  False   False  False   True     False
1305   False  False  False  False  False  False   False  False  False     False
1306   False  False  False  False  False  False   False  False   True     False
1307   False  False  False   True  False  False   False  False   True     False
1308   False  False  False   True  False  False   False  False   True     False

[1309 rows x 10 columns]

In [74]:
na = datas.isna().sum()
na

Pclass         0
Name           0
Sex            0
Age          263
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [75]:
na = datas.isna().sum()
# 篩選 Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [76]:
most = datas["Embarked"].value_counts()
most

S    914
C    270
Q    123
Name: Embarked, dtype: int64

In [77]:
#Embarked補最常出現的值
most = datas["Embarked"].value_counts().idxmax()
most

'S'

In [78]:
datas["Embarked"] = datas["Embarked"].fillna(most)

In [79]:
datas.median()

Pclass     3.0000
Age       28.0000
SibSp      0.0000
Parch      0.0000
Fare      14.4542
dtype: float64

In [80]:
datas["Ticket"].value_counts()

CA. 2343        11
1601             8
CA 2144          8
S.O.C. 14879     7
347077           7
                ..
16988            1
349210           1
29011            1
350406           1
363294           1
Name: Ticket, Length: 929, dtype: int64

In [81]:
# 先處理一下ticket
dic = datas["Ticket"].value_counts()
def count(n):
    return dic[n]
datas["Ticket"] = datas["Ticket"].apply(count)
datas["Ticket"]

0       1
1       2
2       1
3       2
4       1
       ..
1304    1
1305    3
1306    1
1307    1
1308    3
Name: Ticket, Length: 1309, dtype: int64

In [82]:
datas.median()
# plass 不能補中位數，它是類別

Pclass     3.0000
Age       28.0000
SibSp      0.0000
Parch      0.0000
Ticket     1.0000
Fare      14.4542
dtype: float64

In [83]:
# plass 不能補中位數，它是類別，drop掉
med = datas.median().drop(["Pclass"])
med

Age       28.0000
SibSp      0.0000
Parch      0.0000
Ticket     1.0000
Fare      14.4542
dtype: float64

In [84]:
#剩下都是數值，一次補完
datas = datas.fillna(med)
datas

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...   NaN         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2          3                             Heikkinen, Miss. Laina  ...   NaN         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4          3                           Allen, Mr. William Henry  ...   NaN         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...   NaN         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
1306       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
1307       3                                Ware, Mr. Frederick  ...   NaN         S
1308       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [85]:
# 一個段落, 看一下還缺啥，剩下Cabin
na = datas.isna().sum()
# 篩選 Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [86]:
#缺太多不能補，缺一半以上，空的補成none，有的補C123的C... 
def cabin(c):
    if pd.isna(c):
        return None
    else:
        return c[0] 

datas["Cabin"] = datas["Cabin"].apply(cabin)

In [87]:
#資料太過稀少，可以砍掉，例如Captain
def name(n):
    mid = n.split(",")[-1].split(".")[0]
    mid = mid.strip()#將兩邊空格tab全部去掉
    return mid
middle = datas["Name"].apply(name)
counts = middle.value_counts()
counts

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Major             2
Mlle              2
Ms                2
Lady              1
Don               1
Mme               1
Capt              1
Sir               1
Dona              1
the Countess      1
Jonkheer          1
Name: Name, dtype: int64

In [88]:
reserved = counts[:4].index #保留前四個
reserved

Index(['Mr', 'Miss', 'Mrs', 'Master'], dtype='object')

In [89]:
def name2(mid):
    if mid in reserved:
        return mid
    else:
        return None
datas["Name"] = middle.apply(name2)

In [90]:
datas

      Pclass    Name     Sex   Age  ...  Ticket      Fare  Cabin  Embarked
0          3      Mr    male  22.0  ...       1    7.2500   None         S
1          1     Mrs  female  38.0  ...       2   71.2833      C         C
2          3    Miss  female  26.0  ...       1    7.9250   None         S
3          1     Mrs  female  35.0  ...       2   53.1000      C         S
4          3      Mr    male  35.0  ...       1    8.0500   None         S
...      ...     ...     ...   ...  ...     ...       ...    ...       ...
1304       3      Mr    male  28.0  ...       1    8.0500   None         S
1305       1    None  female  39.0  ...       3  108.9000      C         C
1306       3      Mr    male  38.5  ...       1    7.2500   None         S
1307       3      Mr    male  28.0  ...       1    8.0500   None         S
1308       3  Master    male  28.0  ...       3   22.3583   None         C

[1309 rows x 10 columns]

In [91]:
#資料處理不要做減法作加法
#one-hot encoding none 補完變000，只有兩種可能的可以不用做one-hot encoding
datas=pd.get_dummies(datas)
datas = pd.get_dummies(datas, columns=["Pclass"])
datas

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [92]:
#額外處理，age不能亂切，你根本不知道你切的是對的，減少不要做
datas["Family"] = datas["SibSp"] + datas["Parch"] #增加欄位，讓決策樹更多選擇
datas

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [93]:
# [first row, second row...] iloc
x_train=datas.iloc[:len(train_df)]
x_train

      Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0    22.0      1      0       1  ...         0         0         1       1
1    38.0      1      0       2  ...         1         0         0       1
2    26.0      0      0       1  ...         0         0         1       0
3    35.0      1      0       2  ...         1         0         0       1
4    35.0      0      0       1  ...         0         0         1       0
..    ...    ...    ...     ...  ...       ...       ...       ...     ...
886  27.0      0      0       1  ...         0         1         0       0
887  19.0      0      0       1  ...         1         0         0       0
888  28.0      1      2       4  ...         0         0         1       3
889  26.0      0      0       1  ...         1         0         0       0
890  32.0      0      0       1  ...         0         0         1       0

[891 rows x 26 columns]

In [94]:
x_predict=datas.iloc[len(train_df):]
x_predict

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
891   34.5      0      0       1  ...         0         0         1       0
892   47.0      1      0       1  ...         0         0         1       1
893   62.0      0      0       1  ...         0         1         0       0
894   27.0      0      0       1  ...         0         0         1       0
895   22.0      1      1       2  ...         0         0         1       2
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[418 rows x 26 columns]

In [95]:
y_train=train_df["Survived"]
#y train 正確答案
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [98]:
from sklearn.model_selection import cross_val_score

In [100]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params = {
    "n_estimators":range(20,100),
    "max_depth":range(4,11)
}
clf=RandomForestClassifier(random_state=1)
cv=GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.8417602996254681
{'max_depth': 8, 'n_estimators': 63}

In [125]:
#隨機性來自隨機森林，隨機放棄資料
import numpy as np

from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=63, max_depth=7)
scores = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=-1)
print(scores)
print(np.average(scores))

[0.8        0.87640449 0.74157303 0.91011236 0.88764045 0.83146067
 0.85393258 0.78651685 0.87640449 0.83146067]
0.8395505617977529

In [127]:
clf= RandomForestClassifier(n_estimators=63, max_depth=7)
clf.fit(x_train, y_train)
pre=clf.predict(x_predict)
df=pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("rf.csv", encoding="utf-8", index=False)

KNN算的，核心算距離，如果某個欄位是身高，換了單位，會有問題，單位要一致，做scaling

RandomForest做Normalize，沒有用

之前K-means 為甚麼沒做 scaling，因為單位差不多，欄位少 ，差異小就沒做

In [131]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datas_scale=scaler.fit_transform(datas)
datas_scale=pd.DataFrame(datas_scale, columns=datas.columns)
x_train_scale=datas_scale.iloc[:len(train_df)]
x_predict_scale=datas_scale.iloc[len(train_df):]
x_predict_scale

           Age  SibSp     Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
891   0.430039  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
892   0.586622  0.125  0.000000     0.0  ...       0.0       0.0       1.0     0.1
893   0.774521  0.000  0.000000     0.0  ...       0.0       1.0       0.0     0.0
894   0.336089  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
895   0.273456  0.125  0.111111     0.1  ...       0.0       0.0       1.0     0.2
...        ...    ...       ...     ...  ...       ...       ...       ...     ...
1304  0.348616  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1305  0.486409  0.000  0.000000     0.2  ...       1.0       0.0       0.0     0.0
1306  0.480145  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1307  0.348616  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
1308  0.348616  0.125  0.111111     0.2  ...       0.0       0.0       1.0     0.2

[418 rows x 26 columns]

In [132]:
from sklearn.neighbors import KNeighborsClassifier
params = {
    "n_neighbors":range(5,100)
}
clf=KNeighborsClassifier()
cv=GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train_scale, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.832796504369538
{'n_neighbors': 7}

In [134]:
clf = KNeighborsClassifier(n_neighbors=11)
clf.fit(x_train_scale, y_train)
pre=clf.predict(x_predict_scale)
df=pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("rf_KNN.csv", encoding="utf-8", index=False)